.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 250ms ease-in-out forwards;
          animation: fade-in 250ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 250ms ease-in-out forwards;
          animation: fade-out 250ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1.125rem;
  font-weight: 300;
  color: #9698a6;
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

body.noscroll {
  overflow: hidden;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pr {
  padding-right: 1.5rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  margin-top: 0px;
  line-height: 1.15;
  font-weight: 300;
  color: #2d314d;
}
h1 {
  margin-bottom: 1.5rem;
  font-size: 2.31rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}